<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>problem</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            
            {{ question.name}} <br>
            {{ question.difficulty}} <br>
            {{ question.description}} <br>

        {% endif %}

        {% if not user.is_authenticated %}
            
            <h1>User not logged in</h1>

        {% endif %}


    </div>
    



</body>
</html>